/* geral */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

/* Navbar */
.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #232a31;
  padding: 0 2rem;
}

nav {
  position: relative;
}

.logo {
  width: 50px;
  margin-top: 15px;
}

.navebar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navebar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navebar-items a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.navebar-items a:hover {
  color: #ccc;
}

.bi-cart4 {
  font-size: 29px;
  padding: 7px;
  color: #ff8c00;
}

.defaut-btn {
  padding: 15px 20px;
  background-color: #ff8c00;
  border-radius: 5px;
}

.navebar-items .defaut-btn:hover {
  background-color: #2c1901;
  color: #fff;
}

/* main-banner */
.main-banner {
  background-image: url(../img/hamburguergourmet-fb.webp);
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
  font-size: 54px;
}

.main-banner p {
  font-size: 31px;
}

/* Services */
.service-container {
  padding: 5rem 0;
}

.service-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.service-container li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.service-container p {
  line-height: 24px;
}
/* pricing an plans*/
.pricing-container {
  padding-bottom: 5rem;
  text-align: center;
}

.pricing-container h2 {
  font-size: 32px;
}

.pricing-container p {
  font-size: 2opx;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto 0;
}

.plan {
  flex: 1;
  max-width: 275px;
  margin: 0 20px;
}

.plan ul {
  padding: 0;
}

.plan li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  background-color: #e6eaee;
  color: #333;
}
.plan .price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e67417;
  color: white;
  text-align: center;
  line-height: 120px;
  margin: 0 auto -50px;
  font-size: 18px;
  position: relative;
}

.plan .plan-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #f24405;
  padding: 50px 0;
}

.plan .plan-btn {
  background-color: #e67417;
  color: white;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
}

.plan .recommended {
  background-color: #f45c57;
}

/* searchdomain */
.searchdomain-container {
  background-color: #da7612;
  text-align: center;
  padding: 5rem 0;
}

.searchdomain-container h2 {
  color: #fff;
  font-size: 42px;
  margin-bottom: 15px;
}

.searchdomain-container p {
  color: #d5d5d5;
  font-size: 24px;
  margin-bottom: 25px;
}

.searchdomain-container input {
  display: block;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.searchdomain-container input[type="text"] {
  width: 60%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.searchdomain-container input[type="submit"] {
  background-color: #2cc76a;
  padding: 15px 30px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
}

.searchdomain-container input[type="submit"]:hover {
  opacity: 1;
}

/* contact form */
.contact-container {
  text-align: center;
  padding: 5rem 0 2rem 0;
}

.contact-container h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-container p {
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px 20px;
}

.contact-container textarea {
  display: block;
  margin: 0 auto 20px;
  width: 470px;
  height: 150px;
}

.contact-container input[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #fa7f08;
  color: #fff;
  cursor: pointer;
}

/* footer */
footer {
  text-align: center;
  font-weight: bold;
  margin: 20px 0 100px;
}

/* Resposivo*/
/* small leptops a partir de 1100px */
@media (max-width: 1100px) {
  .plans-container {
    width: 95%;
  }

  .plan {
    margin: 0 5px;
  }
}

/* tablet 900px  */
@media (max-width: 900px) {
  .main-banner p {
    font-size: 32px;
    padding: 0.6rem;
  }

  .searchdomain-container {
    padding: 4rem;
  }
}
/* celular 576px */
@media (max-width: 568px) {
  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .navebar-items li {
    font-size: 12px;
    margin-left: 10px;
  }

  .main-banner p {
    padding: 0 2rem;
  }

  .service-container ul {
    flex-direction: column;
  }

  .plans-container {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }

  .plan {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .searchdomain-container h2 {
    font-size: 28px;
  }

  .searchdomain-container input[type="text"] {
    width: 100%;
  }

  .contact-container {
    padding: 3rem 2rem;
  }

  .contact-container input,
  .contact-container textarea {
    width: 100%;
    margin: 10px 0;
  }
}
